
$blue-dark: #003087;
$blue-mid-dark: #005eb8;
$blue-mid: #0072ce;
$blue-mid-light: #41b6e6;
$blue-light: #00a9ce;

$green-dark: #5eb668;
$green-mid-dark: #6acd75;
$green-mid: #76e482;
$green-mid-light: #91e99b;
$green-light: #aceeb4;

$wrong: #ea5b37;
